
.btn {
    .mint-button--primary{
        margin-top: 100px;
    }
}
.box{
    width: 200px;
    height: 100px;
    .title {
        a{

            color: red;
        }
    }
    p{
        color: yellow;
        font-weight: 600
    }
}